<footer class="footer">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    
    <div class="footer-container">
        <div class="footer-section">
            <h3>About Us</h3>
            <div >
            <p>At Apricot Life Sciences Pvt Ltd, we are dedicated to advancing the field of healthcare and life sciences through innovation.</p>
        </div>
        </div>
        <div class="footer-section">
            <h3 class="tital">Quick Links</h3>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>

        <div class="footer-section">
           
            <h3 class="tital">Contact Us</h3>
            <p class="emails">Email:apricotlifesciencespvtltd&#64;gmail.com</p>
            <p>Phone: +91 9424330045</p>
            
            <div class="contact-item">
                
                <span>
                  SNO 104/1 TO 106/2 Peace Valley C Wing Flat No C -804,<br />
                  Pune, Maharashtra - 411027
                </span>
              </div>
            
        </div>

        <div class="footer-section">
            <div class=" Follow">
            <h3 class="tital">Follow Us</h3>
            <ul class="social-icons">
                <li><a href="#" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#" aria-label="Twitter"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#" aria-label="Instagram"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>

            <div class="Developer"><i class="fa-solid fa-laptop-code"></i> Designed By</div>
            <div class="Developer"><a href="https://www.linkedin.com/in/saurav-gawli-a8983a111/">Saurav Gawli (Developer) </a></div>
            <div class="Developer"><a href="https://www.linkedin.com/in/saurav-gawli-a8983a111/">Samarth Trivedi (Business Analyst)</a></div>
    
        </div>
    </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Apricot Lifesciences Pvt Ltd. All Rights Reserved.</p>
    </div>
</footer>
