<footer class="footer">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    
    <div class="footer-container">
        <div class="footer-section">
            <h3>About Us</h3>
            <p class="para">We are very sweet company.</p>
        </div>

        <div class="footer-section">
            <h3 class="tital">Quick Links</h3>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h3 class="tital">Contact Us</h3>
            <p>Email: com</p>
            <p>Phone: (123) 456-7890</p>
            <p>Address: 123 Main St, City, Country</p>
        </div>

        <div class="footer-section">
            <h3 class="tital">Follow Us</h3>
            <ul class="social-icons">
                <li><a href="#" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#" aria-label="Twitter"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#" aria-label="Instagram"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
            <div class="Developer"><i class="fa-solid fa-laptop-code"></i>Developed by Saurav Gawli</div>
    
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Your Company. All Rights Reserved.</p>
    </div>
</footer>
