*{
    margin: 0px;
    padding: 0px;
}
.row{
    margin: 40px;
    

}

.hading{
    
    text-align: center;
    font-weight: bold;
    
    color:antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
  