<app-header></app-header>
 <!--<div>
<ag-grid-angular
  style="width: 100%; height: 350px;"           
  class="ag-theme-alpine"                       
  [rowData]="rowData"                           
  [columnDefs]="columnDefs"                     
  rowSelection="multiple"                       
  [pagination]="true"                           
  [paginationPageSize]="20">                    
</ag-grid-angular>
</div>-->
 

<div class="card">
  <img alt="Event image of doctors at a press conference" height="200" src="https://storage.googleapis.com/a1aa/image/cbw937IPx561KZ53cvSy5h2e1TDcHehf1Y5mMEaSpfe4m0XcC.jpg" width="100%"/>
  <div class="container">
    <h4><b>John Doe</b></h4> 
    <p>Architect & Engineer</p> 
  </div>
</div>

<div class="card">
  <img alt="Event image of doctors at a press conference" height="200" src="../../assets/img2 (1).jpg" width="100%"/>
  <div class="container">
    <h4><b>John Doe</b></h4> 
    <p>Architect & Engineer</p> 
  </div>
  
</div>


<app-footer></app-footer>