<app-header></app-header>
 <!--<div>
<ag-grid-angular
  style="width: 100%; height: 350px;"           
  class="ag-theme-alpine"                       
  [rowData]="rowData"                           
  [columnDefs]="columnDefs"                     
  rowSelection="multiple"                       
  [pagination]="true"                           
  [paginationPageSize]="20">                    
</ag-grid-angular>
</div>-->
<div class="row">
  <div class="col-sm-4">

<div class="card" style="width: 18rem;">
  <img  height="200" src="../../assets/img2 (1).jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <div class="hading">50PCS Mask</div>
    
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</div>
<div class="col-sm-4">

<div class="card" style="width: 18rem;">
  <img src="../../assets/pexels-pixabay-236380.jpg" class="card-img-top" alt="...">
  
  <div class="card-body">
    <div class="hading">Best Medical Bed</div>
  
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</div>
<div class="col-sm-4">

<div class="card" style="width: 18rem;">
  
  <img height="200" src="../../assets/img2 (2).jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <div class="hading">Medical Equipment</div>
  
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</div>
</div>
<!--fist row  end-->

<div class="row">
  <div class="col-sm-4">

<div class="card" style="width: 18rem;">
  
  <img height="200" src="../../assets/1.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <div class="hading">Medical Belt</div>
  
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</div>
<div class="col-sm-4">

<div class="card" style="width: 18rem;">
  
  <img height="200" src="../../assets/2.jpg" class="card-img-top" alt="...">

  <div class="card-body">
    <div class="hading">Tablet</div>
  
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</div>
<div class="col-sm-4">

<div class="card" style="width: 18rem;">
  
  <img height="200px" src="../../assets/3.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <div class="hading">spray</div>
  
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</div>
</div>

<app-footer></app-footer>