*{
    margin: 0px;
    padding: 0px;
}
.row{
    margin: 20px;
    padding: 10px;
}
.hading{
    
    text-align: center;
    font-weight: bold;
    background-color:black;
    color:antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
  