<app-header></app-header>
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&amp;display=swap" rel="stylesheet"/>
    <style>
    </style>
   </head>
   <body>
    
    <div class="banner">
     <img alt="Banner Image of a happy child" height="400" src="../../assets/banner.jpg" width="1200"/>
     <div class="banner-text">
      Advancing Health through Innovation
     </div>
    </div>
    <div class="content">
     <h2>
      Events
     </h2>
     <div class="events">
      <img alt="Event image of doctors at a press conference" height="200" src="https://storage.googleapis.com/a1aa/image/cbw937IPx561KZ53cvSy5h2e1TDcHehf1Y5mMEaSpfe4m0XcC.jpg" width="300"/>
      <img alt="Event image of surgeons in an operating room" height="200" src="https://storage.googleapis.com/a1aa/image/60CO376ecSwej0mTY8ztW9vlJ2iUceWjX9HBlSJEVNiyJ9FnA.jpg" width="300"/>
      <img alt="Event image of a scientist in a lab" height="200" src="https://storage.googleapis.com/a1aa/image/j7s9t2EJMHp1GJLkqKx2NwmHncPa2UOlVGdkXGeAOG0dSfiTA.jpg" width="300"/>
     </div>
    </div>
    <app-footer></app-footer>
  